ul {
	padding: 0;
}
li {
	list-style: none;
}
ul.nav-pills a {
	cursor: pointer;
}
.ng-invalid.ng-dirty {
  border-color : red;
}
.ng-valid.ng-dirty {
  border-color : green;
}
.gallery {
	text-align: center;
	width: 230px;
	padding: 0 10px;
	margin: 0 auto;
}
.small-img {
	width: 50px;
	margin: 15px 10px 15px;
	cursor: pointer;
}